body {
    background: #f4e9d5;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    color: #d09427;
    margin-left: 30px;
    font-size: 1.2em;
    position: relative;
}

#profile {
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}

header>h2 {
    margin-left: 50px;
    display: inline-block;
    
}

header>aside {
    float: right;
    margin-right: 30px;
}

li {
    list-style: none;
}

header {
    border-bottom: solid 3px #d09427;
    padding-bottom: 15px;
}

section {
    display: block;
    position: relative;
    margin: 40px 0;
    width: 100%;
    border-bottom: 1px solid #bebebe;
}


.title {
    width: 28%;
    display: inline-block;
    position: relative;
 
}

.description {
    width: 70%;
    display: inline-block;
    
}

#PersonalProf {
    
    padding-bottom: 10px;

}

#skills ul {
    display: inline-block;
    width: 25%;
    float: left;
    
}

#projects figure{
    display: inline-block;
}

dt {
  margin-bottom: 10px;  
}
strong {
    font-size: 1.1em;    
}

em {
    font-size: 0.9em;
}

#PersonalProf h3 {
    top: -15px
}

#work h3 {
    top: -280px
}

#skills h3{
    top: -60px
}

#education h3{
    top: -180px
}

#projects h3 {
    top: -90px
}
